:root {
  --primary-font-family: 'Roboto', sans-serif;
  --primary-letter-spacing: 0.03em;
  --primary-font-size: 14px;
  --primary-line-height: 1.14;
  --main-font-waight: 400;
  --primary-discription-color: #757575;
  --main-dark-color: #212121;
  --accent-color: #2196f3;
}
body {
  font-family: var(--primary-font-family);
  letter-spacing: var(--primary-letter-spacing);
  font-size: var(--primary-font-size);
  color: var(--primary-discription-color);
  line-height: var(--primary-line-height);
  font-weight: var(--main-font-waight);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}

/* ==========LOGO========== */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-header {
  color: #000000;
}
.logo-footer {
  color: #ffffff;
}

/* ==========HEADER========== */

.nav-list-link {
  font-weight: 500;
  font-size: inherit;
  letter-spacing: 0.02em;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.nav-list {
  color: var(--main-dark-color);
}
/* ==========HERO========== */

.header-discription {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
}
.hero {
  background-color: #2f303a;
}

/* ==========ADVANTAGE========== */
.advantage-list-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-dark-color);
}
.advantage-discription {
  line-height: 1.71;
}

/* ==========ABOUT========== */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-dark-color);
}

/* ==========TEAM========== */

.team-worker-name {
  font-weight: 500;
  color: var(--main-dark-color);
}
.team-worker-name,
.team-discription {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-discription {
  font-weight: var(--secondary-font-waight);
}
.team {
  background-color: #f5f4fa;
}

/* ==========FOOTER========== */
.address {
  font-weight: var(--secondary-font-waight);
  font-style: normal;
}
.footer-link {
  line-height: 1.17;
}
.footer-link {
  color: rgb(250, 250, 250, 0.6);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.address-item {
  color: #ffffff;
}
.footer {
  background-color: #2f303a;
}

/* ==========PORTFOLIO========== */

.portfolio-nav-list-btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  background-color: #f5f4fa;
  cursor: pointer;
}
.portfolio-nav-list-btn:hover,
.portfolio-nav-list-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-dark-color);
}
.projects-discription {
  font-weight: var(--secondary-font-waight);
  font-size: 16px;
  line-height: 1.88;
}
